@use 'reset';
@use 'colors';

@font-face {
  font-family: 'TTCommons';
  src: url('/fonts/TTCommons-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'TTCommons', sans-serif;
  color: $text-color;
}

a {
  text-decoration: none;
  color: $text-color;
}

a, button {
  transition: background-color 0.5s;
}